.background {
    background:
    url(assets/background.jpeg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    
}

header {
    background-color: #000000;
    padding: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}

header img {
    height: 60px;
    width: auto;
}

#menu {
    width:25%;
    height: 100%;
    margin-left: 20px;
    margin-top: 20px;
    display:block;
    color:rgb(255, 255, 255)
}

#menu h2 {
    font-size: 3em;
}

#container {
    display:flex;
    height:100%;
}

#menu span {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

#menu span:not(:last-child) { 
    margin-bottom: .5em;  
}

#menu span {
    float: left;
    clear: left;
}

#menu span:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#strain {
    position: relative;
    margin-top: 20px;
}

#strain-text {
    text-align: center;
    margin: center;
    position: center;
    top: 15px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 30%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

#strain-name {
    text-transform: uppercase;
    font-size: 1.5em;
}

#strain-description {
    font-size: 1.10em;
}
#strain-image {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px;
    top: 0;
    transition: top ease 0.5s;
}
/* #strain-image {
  border: 5px solid rgb(19, 46, 250);
  border-radius: 4px;
  padding: 5px;
  width: 300px;
} */

input[type=submit] {
    border:0px;
    margin: auto;
    background:rgb(255, 255, 255);
    font-size: 1em;
    border: 1px solid rgb(252, 250, 250);
    margin-left: 10px;
    border-radius: 10px;
}

input[type=text] {
    margin: auto;
    width: 150px;
    font-size: 1em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding:10px;
}

.icon {
    width:2em;
    height:auto;
    vertical-align: middle;
}

form {
    display:flex;
    height: 30px;
}
