.background {
    background:
    url(Assets/background.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    
    
}

header {
    background-color: #000000;
    padding: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    animation: shake .3s infinite alternate;

}

header img {
    height: 60px;
    width: auto;

}

#menu {
    width:25%;
    height: 100%;
    margin-left: 20px;
    margin-top: 20px;
    display:block;
    color:rgb(255, 255, 255)
    
}

#menu h2 {
    font-size: 3em;
    
}

#container {
    display:flex;
    height:100%;
    
}

#menu span {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    animation: beat .3s infinite alternate;
}

#menu span:not(:last-child) { 
    margin-bottom: .5em;  
}

#menu span {
    float: left;
    clear: left;
}

#menu span:hover {
    color: rgb(25, 249, 0);
    cursor: pointer;
}

#strain {
    position: relative;
    margin-top: 20px;
}

#strain-text {
    background: linear-gradient(to bottom right, yellow, green);
    box-shadow: 8px 8px 10px 0px deeppink, -5px -5px 5px 0px blue,
      5px 5px 15px 0px yellow;
    padding: 0em 1em;
    border-radius: 16px;
    border-style: solid;
    margin-left: 10px;
    font: 19px sans-serif;
    line-height: 2;
    width: 80%;
    text-shadow: red -2px 0,
    cyan 2px 0;

}

#strain-name {
    text-transform: uppercase;
    font-size: 1.5em;
}

#strain-description {
    font-size: 1.10em;
}
#strain-image {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    width: 385px;
    height: 385px;
    background-color: aliceblue;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px;
    top: 0;
    transition: top ease 0.5s;
}
/* #strain-image {
  border: 5px solid rgb(19, 46, 250);
  border-radius: 4px;
  padding: 5px;
  width: 300px;
} */

input[type=submit] {
    border:0px;
    margin: auto;
    background:rgb(254, 254, 254);
    font-size: 1em;
    border: 1px solid rgb(252, 250, 250);
    margin-left: 10px;
    border-radius: 10px;
}

input[type=text] {
    margin: auto;
    width: 150px;
    font-size: 1em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding:10px;
}

.icon {
    width:2em;
    height:auto;
    vertical-align: middle;
}

form {
    display:flex;
    height: 30px;
}


#cart-amount {
    background: linear-gradient(to bottom right, yellow, green);
    box-shadow: 8px 8px 10px 0px deeppink, -5px -5px 5px 0px blue,
      5px 5px 15px 0px yellow;
    padding: 0em 1em;
    border-radius: 16px;
    border-style: solid;
    margin-left: 10px;
    font: 19px sans-serif;
    line-height: 2;
    font-size: medium;
    vertical-align: middle;
    
}


.heart {
    color: #e00;
    font-size: 8rem;
    transform-origin: left;
    animation: beat .3s infinite alternate;
}

@keyframes beat {
    to {transform: scale(1.2);}
}

@keyframes shake {
        25% {transform: translateX(4px)}
        50% {transform: translateX(-4px)}
        75% {transform: translateX(4px)}
}

#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 70%;
  }

 #list{
   font-size:  1.5em;
   margin-left: 90px;
  }

.strains{
  display: list-item;    
 } 